<div class="wraper d-flex " >
    <div *ngIf="pokeService.pokeDetails" class="pokeCard">
        <div class="d-flex " style="border: 4px solid white;border-radius: 10px;">
            <div><img src={{pokeService.pokeDetails.sprites.front_default}} alt="front_default" >Fronte</div>
            <div><img src={{pokeService.pokeDetails.sprites.back_default}} alt="front_default" >Retro</div>
        </div>
        <div class="d-flex flex-column" style="border: 4px solid white;border-radius: 10px;margin-top: 10px;" >
            <div class="pokeText"><p> Id #{{pokeService.pokeDetails.id}}</p></div>
            <div class="pokeText"><p>Pokemon di tipo {{pokeService.pokeDetails.types[0].type.name}}</p></div>
            <div class="pokeText"><p>Il suo peso è {{pokeService.pokeDetails.weight}}</p></div>
            <div class="pokeText"><p>La sua altezza è {{pokeService.pokeDetails.height}}</p></div>
        </div>
    </div>
</div>
