.wraper{
    height: auto;
    width: 100%;
    background: src="/assets/imgs/Vermilion_Forest.webp";

    margin-top: -10px;
    padding: 10px;
}
.pokeCard{
    border: 5px solid black;
    width: 50%;
    border-radius: 10px;
    margin: 10px;
    background-color: gray;
}
.pokeText{
    text-align: center;
}