<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" (click)="OnClickClearAllPokemons()" href="#">Pokedex </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form   class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2"   [formControl]="name"  name="name" type="search" placeholder="Cerca Pokemon" aria-label="Search">
      </form>
      <app-pokeball (click)="OnClickGetPokemonByPagination()"></app-pokeball>
    </div>
  </nav>
