input{

}

input:hover{
    box-shadow: 0px 0px 10px 3px #ffffff;
    transform: scale(0.99);
    transition: linear 400ms;
}
.navbar-brand{
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-brand:hover{
    text-shadow: 0px 0px 10px 3px #ffffff;
    transform: scale(1.20);
    transition: linear 400ms;
}