<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="wrapperLeft scrollbar scrollbar-primary">
  <div *ngFor="let pokemon of pokeService.pokemons" class="d-flex justify-content-between force-overflow navbar-dark  bg-dark ">
  
      <b id="titoloCard">{{pokemon.name | titlecase}}</b>
      
      <app-pokeball (click)="clickOnPokeball(pokemon.url)"></app-pokeball>
      
  </div>
  <div *ngIf="pokeService.pokemons || pokeService.inputLength < 0 " class="pokeContainerFooter">  <!-- STA COSA LA DEVO SISTEMARE -->
      <nav>
        <div class="upperFooter">
          <div class="arrowsCont">
            <div class="arrows" (click)="doppiaFrecciaSinistra()">&laquo;</div>
            <div class="arrows" (click)="frecciaSinistra()">&lsaquo;</div>
          </div>
          <div>Pagina  {{this.currentPage }}  di  {{totalPages}} </div>
          <div class="arrowsCont">
            <div class="arrows" (click)="frecciaDestra()">&rsaquo;</div>
            <div class="arrows" (click)="doppiaFrecciaDestra()">&raquo;</div>
          </div>
        </div>
        <div class="bottomFooter">
          <div>Numero di Elementi da visualizzare:</div>
          <div>
            <input
              type="number"
              value="limit"
              min="1"
              name="limit"
              [formControl]="limit"
              id=""
            />
          </div>
          <div>pagina</div>
          <div>
            <select [(ngModel)]='pagesSelect' (change)="pagesChange(this.pagesSelect)" name="" id="">
              <option  [ngValue]=1 selected="selected">1</option> 
              <option [ngValue]="i+2"  *ngFor="let page of counter(totalPages-1);index as i" selected="selected"value="1">{{i+2}}</option> 
            </select>
          </div>
        </div>
      </nav>
    </div>
  

</div>  
