
.wrapperLeft{
    overflow-y: auto;
    height: 89vh;
}

#titoloCard{
    color: white;
    text-align: center;
}

.d-flex{
    padding: 2%;
    border: 3px solid yellow;
    border-radius: 15px;
    margin-top: 10px;
    
}

.details:hover{
    color: red;
    cursor: pointer;
}
.pokeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow:grow;
    background: black;
    width: 100%;
}
.pokeCardWrapper{
    height: 90vh;
    overflow-y: auto;
    width: 50%;
}
.pokeCard{
    display: flex;

    border: 1px solid white;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    
  
}
.pokeDetail{
    width: 50%;
}

.pokeContainerFooter{
    position:relative;
    bottom:0;
    width: 100%;
    color: white;
    border: 3px solid lightgrey;
    background: red;
    border-radius: 15px;
    padding: 2%;
    
    
    margin-top: 10px;
}
.upperFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.arrowsCont{
    display: flex;
    font-size: 39px;
    cursor: pointer;
    margin-right: 10px;
    gap: 10px
}
.arrows{
    margin: 2px;
}
.arrows:hover{
    text-shadow: 0px 0px 10px 15px #000000;
    transform: scale(1.20);
    transition: linear 400ms;
}
.bottomFooter{
    display: flex;
    justify-content: space-between;
}